<div class="row">
    <div class="col-lg-8 line-item" ng-class="{collapsed: listItem != $ctrl.selectedListItem}" ng-click="$ctrl.openListItem(listItem)">
        <!--<a ng-class="{collapsed: listItem != $ctrl.selectedListItem}" role="button" aria-expanded="true" ng-click="$ctrl.openListItem(listItem)" >{{$eval($ctrl.listItemName,listItem)}}</a> -->
        <div class="accordion-arrow"><i class="fa fa-caret-down" ng-if="listItem != $ctrl.selectedListItem"></i><i class="fa fa-caret-up" ng-if="listItem == $ctrl.selectedListItem"></i></div>
        {{$eval($ctrl.listItemName,listItem)}}
    </div>
    <div class="col-lg-4" style="text-align: right">
        <div class="status"><a>Running</a></div>
        <a ng-click="$ctrl.selectListItem(listItem)"><i class="fa fa-2x fa-edit"></i></a>
        <a class="action-icon" ng-click="$ctrl.deleteListItem(listItem)"><i class="fa fa-2x fa-times"></i></a>
    </div>

</div>