<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header-nomargin text-asbestos">Upgrade Now!</h3>
    </div>
</div>

<div class="row">
    <div class="panel panel-default panel-mini">
        <div class="panel-heading">
            <h3 class="panel-title">Upgrade Your Account</h3>
        </div>
        <div class="panel-body">

            <p>Red Panda Platform thanks you for your interest! A Red Panda Platform representative will be in touch!</p>

            <form role="form" class="form" name="demandSourceSelection">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.sendUpgradeRequest()">Upgrade Now!</button>
                </div>
            </form>
        </div>
    </div>
</div>