[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.no-margin {margin: 0px !important}

.no-padding {padding: 0px !important}

div.same-height-row {
    width: 100%;
    display: table;
}

div.same-height-row>div.same-height-col {
    float: none;
    display: table-cell;
}

#mfPreviewBar { display: none; }

.navbar-brand { font-size: 25px; }

.dropdown-toggle { cursor: pointer; }

.action-icon {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

a[ng-click] {
    cursor: pointer;
}

.table-grid td.actions {
    text-align: right;
}

td.actions-1 {
    width: 3em;
}

td.actions-2 {
    width: 6em;
}

td.actions-3 {
    width: 10em;
}

td.actions-4 {
    width: 14em;
}

.impersonatebutton { /* override bootstrap */
    border: 0;
    background-color: transparent;
    color: rgb(26, 188, 156);
    appearance: none; /* CSS3 */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    -ms-appearance: none; /* Internet Explorer */
    -o-appearance: none; /* Opera */

}

.impersonatebutton:hover { /* override bootstrap */
    border: 0;
    color: black;
    appearance: none; /* CSS3 */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    -ms-appearance: none; /* Internet Explorer */
    -o-appearance: none; /* Opera */
    background-color: whitesmoke;

}

.impersonatecancel {
    color: rgb(200,0,0);
}

.impersonatecancel:hover {
    background-color: whitesmoke;
}

/* Create product - music */
.form-search-wrapper {
    position:relative;
    left: 0px;
    right: 0px;
    display: inline-block;
}
.form-search-wrapper input[type="text"] {
    padding-right: 32px;
}

.form-search-wrapper:after {
    font-family: 'FontAwesome';
    color:grey;
    position: absolute;
    right: 16px;
    top: 0px;
    content: "\f002";
    padding-left: 2px;
}

.tk-proxima-nova {
    font-weight: 300;
}

.proxima-nova-bold {
    font-weight: 400;
}

h1 {
    font-size: 26px;
}

h1.tk-proxima-nova a, h1.tk-proxima-nova a:hover, .proxima-nova-bold a, .proxima-nova-bold a:hover {
    color: #ffffff;
    text-decoration: none;
}

.navbar-default {
    border: none;
}

.navbar-header {
    /*margin-left: 34px;
    margin-top: 10px;*/
    text-align: left;
}

.navbar-header, .navbar-header:hover {
    width: 300px;
    background: none;
}

ul.breadcrumb > li > a.active {

}

ul.breadcrumb {
    background-color: transparent;
}

.navbar-top-links > li > a:hover, .navbar-top-links > li > a, .nav .open > a:active  {
    padding-top: 3px;
    background: none !important;
}

.user-info-wrapper {
    text-align: center;
}

.user-info-wrapper .username {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.user-info-wrapper .user-welcome {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.page-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3.page-header.text-asbestos {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    color: #355678;
}

h3.page-header.text-asbestos.analytics {
    font-size: 18px;
}

h3.page-header.text-asbestos.demand-source {
    font-size: 18px;
}

h3.page-header-nomargin.text-asbestos {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    color: #5e657b;
}

h4.panel-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #355678;
    font-size: 20px;
}


.panel-body {
    padding-top: 13px;
    padding-left: 23px;
}

.panel-body p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #355678;
    font-size: 16px;
}

.dropdown-menu {
    margin-top: 0px;
}

a[role=button] {
    cursor: pointer;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    vertical-align: inherit !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: transparent;
}

.table-striped > tbody > tr:nth-child(odd), .table-striped > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-striped > tbody > tr:hover, .table-striped > tbody > tr:hover {
    cursor: pointer;
    cursor: hand;
    background-color:#f8e4e2;
}

.top-btn {
    margin-bottom: 10px;
    /*width: 25%;*/
}

@media (min-width: 1200px) {
    .container {
        width: 100%
    }
}

/* Tab Content Edits */

.tab-content {
    background-color:#f5f5f5;
    padding: 25px;
}

.tab-content .row {
    margin-left: 0px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li.active > a {
    background-color:#f5f5f5;
    border: none;
}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover {
    background-color:#f5f5f5;
    border: none;
}

.nav-tabs > li > a {
    background-color: #EEEEEE;
    border: none;
}

@media (min-width: 760px) {
    .tab-content ul.dropdown-menu {
        left: 116px;
    }
}

.btn .caret {
    margin-left: 5px;
}

.dropdown-toggle {
    text-transform: capitalize;
}

ul.dropdown-menu li a {
    text-transform: capitalize;
    text-align: center;
}

.platform-dropdown ul.dropdown-menu li a {
    text-align: left;
}

.pull-left {
    margin-left: 15px;
}

.pull-right {
    margin-right: 15px;
}

.custom-search-form {
    margin-right: 15px;
    float: right;
    width: 25%;
}

.custom-search-form input {
    background: #f9f9f9;
    border-color:#dddddd;
    color: #5e657b;
}

.custom-search-form button {
    background: #e7e7e7;
    border: #dddddd 2px solid;
}

.custom-search-form button:hover {
    background: #1abc9c;
    border: #1abc9c 2px solid;
}

.fa-search {
    font-size: 1.4em;
    color: #e1e7ee;
}

.fa-search:hover {
    color: #ffffff;
}

.dashboard-summary .panel-body {
    padding: 0px;
    text-align: center;
}

.dashboard-summary .panel-header {
    font-weight: bold;
}

@media (min-width: 1200px) {
    /* We're using Bootstrap's 6 column layout, but it is really a 5 column layout. This adjusts to make up for it */
    .dashboard-summary .col-lg-offset-1 {
        margin-left: 0px;
    }

    .dashboard-summary .col-lg-2 {
        width: 20%;
    }

    /* We don't want this offset to apply if the large layout applies */
    .col-md-offset-2 {
        margin-left: 0px;
    }
}

.fa-plus-square {
    color:#355678;
}

#input_container {
    display: inline-block; width: 300px;
}

.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

[ng-click] {
    cursor: pointer;
}

.search-bar {
    margin-top: 26px;
}

.thumb-boxes {
    height: 78px;
}

.dashboard-panel {
    position: relative;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
    font-size: 20px;
    font-weight: 400;
    line-height: 50%;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
    font-size: 20px;
    font-weight: 400;
    line-height: 50%;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
    font-size: 20px;
    font-weight: 400;
    line-height: 50%;
}

@-webkit-keyframes dot {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.translucent {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.opaque {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.fa-spinner {
    color: #5e657b;
}

.breadcrumb > li + li:before {
    /*content: "\00a0"; */
    content:"» ";
    /* vertical-align: bottom; */
    font-size: 16px;
}

@media (min-width: 768px) {
    .inherit_label {
        padding-top: 0px !important;
        width: 15.5%;
        text-align: right;
        margin-right: 12px;
    } }

.nav-second-level li a a::after { border: none; }

.inline-editor-text {
    text-decoration: underline dotted #169F84;
}


.switch {
    width: 60px;
    float: right;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        padding-top: 80px;
    }
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
    display: inline-block;
    margin: 4px 0 0;
    line-height: normal;
    padding: 2px;
    width: 56px;
    height: 28px;
    background-color: #355678;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 28px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #355678;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 26px;
}

.modal-wide > .modal-dialog {
    width: 80%;
}

.modal-child-visible > .modal-dialog {

}

.modal-scrollable .modal-body {
    overflow-y: auto;
    max-height: 600px;
}

.unmapped {
    margin-left: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.form-group label, .form-group .col-sm-9  {
    padding-left: 0px;
}

.col-md-5 .col-sm-12, .col-sm-12 .col-sm-10 {
    padding-left: 0px;
}

.truncate {
    color: #355678;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.truncate_pubNames {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 275px;
}

.truncate_siteNames {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-disabled {
    color: red;
}

.user-disabled-name {
    color: darkgray;
}

.modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.bootbox .modal-body {
    overflow: auto;
}

.popover {
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
}

.popover-title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.branding h1 {
    margin: 0;
}

.bootstrap-tagsinput {
    width: 100%; margin-top: 10px;
}

.bootstrap-tagsinput .twitter-typeahead {
    display: inline; !important;
}

.popover-prepost-item a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popover-prepost-item a:hover, .popover-prepost-item a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

a.popover-link:hover, a.popover-link:hover span {
    color: #e55445 !important;
}

a.popover-is-open, a.popover-is-open span {
    color: #e55445 !important;
}

.fa-question-circle {
    font-size: .8em;
    color: #355678;

}

.panel-mini {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#placement_demo {
    width: 80px; height: 74px; background-color: #355678; overflow: visible;
    float: right;
    margin-right: 100px;
    margin-top: -80px;
}

#ad_demo {
    width: 0px; height: 120px; background-color: #e55445; opacity: .5;
    position: relative;
    -webkit-transition: margin-left 1.2s, margin-top 1.2s;
    -moz-transition: margin-left 1.2s, margin-top 1.2s;
    -o-transition: margin-left 1.2s, margin-top 1.2s;
    transition: margin-left 1.2s, margin-top 1.2s;
}

#ad_demo.anchorLeft {
     width: 140px;
     margin-left: 0px;
 }

#ad_demo.anchorRight {
    width: 140px;
    margin-left: -60px;
}

#ad_demo.anchorCenter {
    width: 140px;
    margin-left: -30px;
}

#ad_demo.anchorTop {
    height: 120px;
    margin-top: 0px;
}

#ad_demo.anchorBottom {
    height: 120px;
    margin-top: -46px;
}

#ad_demo.anchorMiddle {
    height: 120px;
    margin-top: -23px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #557593 inset !important;
    -webkit-text-fill-color: #e1e7ee !important;
}

.demand-form {
    margin-top: 10px;
}

.popover {
    max-width: none !important;
}

strong.modal-error {
    color: red;
}


/* For font awesome buttons */
i.disabled {
    cursor: not-allowed !important;
    color: #eeeeee !important;
}

.red {
    color: red;
}

.date-picker-button {
    padding: 0px; border: none;
}

/* Modified Mint Theme Stuff */

.navbar-top-links li.top-level > a {
    text-align: center;
    color: #e1e7ee;
    background: transparent;
    float: left;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.navbar-top-links li.top-level > a:hover, .navbar-top-links li.top-level > a:focus, .navbar-top-links li.top-level > a:active {
    color: #fff;
    background: #1bc5a3;
}

.navbar-top-links li.top-level > a i {
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    transition: color 0.3s linear;
}
@media (min-width: 768px) {
    .navbar-top-links li.top-level > a {
        padding: 0;
        height: 90px;
        width: 60px;
        line-height: 90px;
    }
}

.navbar-top-links li.top-level > a:hover, .navbar-top-links li.top-level > a, .nav .open > a:active  {
    padding-top: 3px;
    background: none !important;
}

.panel-default > .panel-heading {
    background-color: #ffffff !important;
}

.accordion .panel-default {
    border-bottom: none !important;
}

.line-items {
    padding-left: 0px !important;
}

.panel-body p {
    font-family: 'Open Sans', sans-serif, 'Arial', sans-serif;
}

.col-lg-8.line-item {
    font-size: 14px;
    margin-top: 7px;
    padding-left: 0px;
}

.status {
    float: left;
    margin-top: 8px;
    margin-left: 100px;
    font-weight: 500;
    font-size: .9em;
    font-family: 'Open Sans', sans-serif, 'Arial', sans-serif;
}

td .status a {
    font-size: 1.1em;
}

td > div.status {
    margin-left: 0px;
    margin-top: 0px;
}

.status a {
    color: #5CA03F;
}

.accordion-arrow {
    margin-right: 12px;
    float: left;
}

p.title-description {
    font-family: 'Open Sans', sans-serif, 'Arial', sans-serif;
    font-size: .9em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

span.description {
    font-family: 'Open Sans', sans-serif, 'Arial', sans-serif;
    font-size: .9em;
}

.line-item-dropdown {
    padding: 8px;
    padding-left: 12px;
}

.panel-body.modal-fix {
    padding-left: 0px;
    min-height: 275px;
}

.grip-bars {
    float: left;
    width: 20px;
    opacity: .4;
}

input:disabled {
    color: #7f8c8d
}