<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="{{$ctrl.modalId}}" ng-class="{in: $ctrl.visible, 'modal-wide': $ctrl.isWide}" ng-if="$ctrl.visible">
    <div class="modal-backdrop fade" ng-class="{in: $ctrl.visible && !ctrl.isChildDialogVisible}" style="height: 0px"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-transclude="modalTitle"></h4>
            </div>
            <div class="modal-body" ng-transclude="modalBody">
            </div>
            <div class="modal-footer" ng-transclude="modalFooter">
                <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Close</button>
            </div>
        </div>
    </div>
</div>